html {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
figure {
  float: left;
  width: 600px;
  background-color: white;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 12px; 
}
figcaption {
  float: left;
}
img {
  border-radius: 10%;
  height: 275px;
  width: 300px;
  padding: 14px 18px;
  margin-top: 5%;
  margin-left: 20%;
}
main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
 }
