html {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
img {
  border-radius: 10%;
  height: 275px;
  width: 300px;
}
div {
  display: inline-block;
}
#andrew {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0%;
  margin-right: 10%;
}
#and {
margin-left: 50%;
margin-top: -27%;
margin-bottom: 10%;
}
#nikki {
  float: right;
  
}
#peter {
 margin-top: 0%;
}
#rick {
  margin-left: 40%;
  margin-top: -20%;
}
