@import url('https://fonts.googleapis.com/css?family=Francois+One');

header {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    background-color: #625D5D;
}
header>h1{
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    font-style: bold;
    margin-left: 30px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: -15px;
}
header>img {
    margin-top: -30px;
    width: 45px;
    height: 50px;
    margin-left: 250px; 
}
header li {
    display: inline-block;
    padding-right: 20px;
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 12px 14px;
    margin-top: -0px;
}
