header {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-family: 'Francois One', sans-serif;
    background-color: #625D5D;
}
header>h1{
    font-size: 36px;
    font-style: bold;
    margin-left: 30px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: -15px;
}
header>img {
    margin-top: -30px;
    width: 45px;
    height: 50px;
    margin-left: 250px; 
}
header li {
    display: inline-block;
    padding-right: 20px;
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 12px 14px;
    margin-top: -0px;
}
/* header li a{
    color: rgb(155, 25, 22);
    text-decoration: none;
}
header li a:hover {
    color: #ddd;
} */
/* main div{
    width: 100px;
    display: inline-block;
} */
/* main img{
    width: 100px;
} */