html {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-family: 'Francois One', sans-serif;
    background-color: #625D5D;
}
h1{
    font-size: 36px;
    font-style: bold;
    margin-bottom: -15px;
}
img {
    margin-top: -400px;
    width: 45px;
    height: 50px;
    margin-left: 300px; 
}
li {
    display: inline-block;
    padding-right: 20px;
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 12px 14px;
    margin-top: -70px;
}
li a{
    color: white;
}
li a:visited {
    color: #DA2A27;
}