@import url('https://fonts.googleapis.com/css?family=Francois+One');

html {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    /* background-color: #625D5D; */
}
h1{
    margin-top: 10px;
    font-family: 'Francois One', sans-serif;
    font-size: 46px;
    margin-bottom: 75px;
    font-style: bold;
}
li {
    display: inline-block;
    background-color: black;
    color: white;
    list-style-type: none;
    margin-top: 10px;
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* li a{
    color: white;
}
li a:visited {
    color: #DA2A27;
} */

article {
    padding: 10px;
    margin-top: 15px;
    /* font-family: 'Francois One', sans-serif; */
    margin-bottom: 20px;
}
article p {
    color: white;
    font-size: 1.25em;
}
/* main li{
    display: block;    
} */
