html {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-family: 'Francois One', sans-serif;
    background-color: #625D5D;
}
h1{
    font-size: 46px;
    margin-bottom: 75px;
    font-style: bold;
}
li {
    display: inline-block;
    background-color: black;
    color: white;
    list-style-type: none;
    margin-top: 10px;
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}
li a{
    color: white;
}
li a:visited {
    color: #DA2A27;
}

article {
    padding: 10px;
    margin-top: 15px;
    font-family: 'Francois One', sans-serif;
}
main li{
    display: block;    
}