/* legend {
margin: 0 auto;
font-size: 30px;
color: brown;
}

form {
width: 50%;
height: 50%;
padding: 15px;
background: linear-gradient(lightcoral, lightgoldenrodyellow );
/* background: lightgoldenrodyellow; */
/* text-align: center;
font-size: 22px;
}

input[type=text], textarea{
 background: linear-gradient(blanchedalmond, lightsalmon);
display: block;
width: 90%;
margin: 0 auto;
padding: 5px;
}

textarea {
margin: 15px;
padding: 15px;
}

label {
color: yellow;    
} */ 

#form-container {
    text-align: center;
    margin: 30px auto;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #eee;
}

label {
  display: block;
  margin-bottom: 10px;
}

h2 {
  font-size: 200%;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
}

input, textarea {
  background-color: #222;
  border: black;
  /* margin: 0 auto 20px auto; */
  /* margin-bottom: 20px; */
  font-size: 100%;
}

input {
  width: 30%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* text-align: center; */
}

textarea {
  width: 80%;
  resize: vertical;
}

.code {
  color: lightblue;
  font-family: 'Courier New', Courier, monospace;
  height: 100px;
}

.prose {
  color: #ddd;
}

#title {
  color: #ddd;
  font-size: 125%;
}

#solution {
  color: lightblue;
  font-family: 'Courier New', Courier, monospace;
}

select {
  background-color: #222;
  color: #eee;
  width: 150px;
  height: 25px;
  border: black;
  font-size: 80%;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #222;
  color: #eee;
  font-size: 80%;
  border: black;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #333;
}
