body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #625D5D;
}

header li a{
  color: rgb(155, 25, 22);
  text-decoration: none;
  /* font-size: 110%; */
}

header li a:hover {
  color: #ddd;
}