body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 30px auto;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  font-size: 200%;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

main>div {
  width: 80%;
  margin: 0 auto 20px auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

.code {
  text-align: left;
  border: 1px solid darkgray;
  padding: 10px;
  width: 60%;
  margin: auto;
}

#correct, #wrong {
  display: none;
}

#correct {
  color: green;
}

#wrong {
  color: red;
}

h3 {
  font-size: 150%;
  margin-bottom: 10px;
}