h2 {
    text-align: center;
    font-size: 150%;
    margin-bottom: 15px;
}

main>div {
    border: 1px black solid;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    background-color: #eee;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 6px;
}

.container>div {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #333;
    color: #eee;
    text-align: center;
    height: 100px;
    cursor: pointer;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    font-size: 120%;
}

.container>div:hover {
    background-color: #444;
    color: #fff;
}

.solved {
    text-decoration: line-through;
}

#plus {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 200%;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

#plus:hover {
    background-color: #fff;
}

main a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ddd;
    margin-bottom: 20px;
    font-size: 80%;
    width: 100px;
    margin: 20px auto 20px auto;
}

main a:hover {
    color: #fff;
}

#reset {
    display: none;
    color: black;
}

#reset:hover {
    color: #333;
}