html {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-family: 'Francois One', sans-serif;
}
h1{
    font-size: 46px;
    margin-bottom: 75px;
}
ul {
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 14px 16px;
    margin-top: 20px;
}
li {
    display: inline-block;
    padding-right: 20px;
}

article {
    padding: 10px;
    margin-top: 50px;
    font-family: 'Francois One', sans-serif;
}